body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66bfbf;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
    color: #66bfbf;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}

hr{
    border-style: none;
    border-top: dotted;
    color: #b6c8c8;
    width: 5%;
    border-width: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    color: #11999e;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
}

a:hover{
    color: #eaf6f6;
}

p{
    font-family: "Merriweather", serif;
    font-size: 0.9rem;
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    padding: 50px 0 0 0;
    position: relative;
    
}
.middle-container {
    margin: 75px 0;
    text-align: center;
    position: relative

}
.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
    position: relative;
 
}

.top-cloud{
    position: absolute;
    right: 20%;
    top: 50px;

}


.bottom-cloud{
    position: absolute;
    left: 20%;
    bottom: 350px
}

.mountain{
    position: relative;
}

.intro{
    width: 30%;
    margin: auto;
}


.headshot{
    height: 200px;
}

.skill-row{
    width: 50%;
    margin: 50px auto 75px auto;
    text-align: left;
}

.img-singing{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.img-computer{
    border-radius: 50%;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.img-cat{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.footer-text{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0
}



.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat";
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .txt-contact{
    margin: 40px auto 60px;
    width: 40%;
  }
